@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

:root {
    --violet: #d33bfd;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif; 
    color: white;
}

header{
    background: linear-gradient(#13181d, #20212e, #341b47);
}
header nav {
    padding: 30px; 5% 0 5%; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
header nav h1 {
    margin: 0;
    text-transform: uppercase;
    color: var(--violet);
}
header nav .right {
    display: flex;
    align-items: center;
}
header nav .right p {
    margin: 0 15px 0 0;
    color: #ccc;
    cursor: pointer;
}
header nav .right p:hover {
    color: white;
}
header nav .right button {
    padding: 5px 15px;
    font-size: 16px;
    background-color: inherit;
    border: 1px solid var(--violet);
    color: var(--violet);
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.5s, background-color 0.5s;
}
header nav .right button:hover {
    color: inherit;
    background-color: var(--violet);
}

@media screen and (max-width: 640px) {
    header nav .right p {
        display: none;
    }
}